.topDiv {
    background-image: url('../public/img/top-div.png');
    height: 158cqb;
    object-fit: cover;
    /* position: relative;
    z-index: 1; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
}

/* .topDiv-wrap {
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
} */

.midDiv {
    background: linear-gradient(#283606, #0F1500);
}

@media (min-width: 1200px) {
    .navbar-expand-lg {
        flex-wrap: wrap !important;
    }
}